body {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  color: #333;
  font-size: 0.14rem;
  background: #f3f2f8; }

.phoneLogin-header {
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.1rem;
  font-size: 0.16rem;
  height: 0.45rem;
  color: #000;
  padding: 0 0.1rem; }
  .phoneLogin-header span {
    font-size: 0.16rem; }

.phoneLogin-content {
  -webkit-flex: 1;
  overflow-y: scroll; }
  .phoneLogin-content .content-banner {
    display: -webkit-flex; }
    .phoneLogin-content .content-banner img {
      -webkit-flex: 1;
      width: 100%;
      height: 100%; }
  .phoneLogin-content .content-login {
    position: relative;
    height: 2.445rem; }
    .phoneLogin-content .content-login .telNumber {
      display: -webkit-flex;
      height: 0.55rem;
      border-bottom: 1px solid #ccc;
      align-items: center;
      text-align: center;
      background: #fff; }
      .phoneLogin-content .content-login .telNumber span {
        -webkit-flex: 1; }
      .phoneLogin-content .content-login .telNumber span:first-child {
        border-right: 1px solid #ccc; }
      .phoneLogin-content .content-login .telNumber span:nth-child(2) {
        -webkit-flex: 3;
        display: -webkit-flex; }
        .phoneLogin-content .content-login .telNumber span:nth-child(2) input {
          -webkit-flex: 1;
          border: none;
          outline: none;
          padding-left: 0.1rem; }
    .phoneLogin-content .content-login .pwd {
      display: -webkit-flex;
      height: 0.55rem;
      background: #fff; }
      .phoneLogin-content .content-login .pwd input {
        -webkit-flex: 1;
        border: none;
        outline: none;
        padding-left: 0.2rem; }
    .phoneLogin-content .content-login .forget {
      position: absolute;
      right: 0.3rem;
      top: 1.3rem;
      border: none;
      outline: none;
      background: transparent;
      color: #8874cd; }
    .phoneLogin-content .content-login .moveLogin {
      width: 2.75rem;
      height: 0.4rem;
      margin: 0 auto;
      position: relative;
      display: -webkit-flex;
      margin-top: 0.5rem; }
      .phoneLogin-content .content-login .moveLogin .moveLogin-bottom {
        -webkit-flex: 1;
        outline: none;
        border: none;
        background: #dad3f4;
        color: #fff;
        border-radius: 0.04rem; }
      .phoneLogin-content .content-login .moveLogin .moveLogin-top {
        position: absolute;
        left: 0;
        top: 0;
        width: 0.4rem;
        height: 0.4rem;
        background: #8151fd;
        text-align: center;
        line-height: 0.4rem;
        border-radius: 0.04rem;
        transition: all 1s; }
        .phoneLogin-content .content-login .moveLogin .moveLogin-top .icon {
          color: #b486ff; }
    .phoneLogin-content .content-login .loginNew {
      position: absolute;
      left: 40%;
      bottom: 0; }
    .phoneLogin-content .content-login .number {
      position: absolute;
      left: 0.3rem;
      top: 0.35rem;
      display: none; }
      .phoneLogin-content .content-login .number li {
        width: 0.5rem;
        height: 0.3rem;
        border: 1px solid #ccc;
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
        text-indent: 0.07rem;
        line-height: 0.3rem; }

/*# sourceMappingURL=phoneLogin.css.map */
